.wordbox {
    position: relative;
}
.box {
    position: absolute;
    text-align: center;
}
.box a {
    color: #fff;
    text-decoration: none;    
    display: inline-block;
    width: 100%;
    height: 100%;
    word-wrap: break-word;/*注意设置word-wrap属性*/
}
